.leaveApproval{
    width: 98%;
    font-size: 85%;
}

.leaveApprovalBar{
    display: grid;
    grid-template-columns: 8% 16% 22% 22% 16% 16%;
    border-style: solid;
}
.leaveApprovalBar div{
    font-size: 85%;
}

.leaveApprovalList tr{
    display: grid;
    grid-template-columns: 8% 16% 22% 22% 16% 16%;
    border-style: solid;
}


.rejectButton{
    background-color: #8E5E74 ;
    color: blanchedalmond;
}

.acceptButton{
    background-color:#D7BCA7;

}
