// .alLeave {
//     text-align: center;
// }
.alLeave-content {
    display: flex;
}

.alLeave-code {
    margin: 5px 20px;
}
.alLeave-header {
    background-color: rgb(34, 34, 34);
    padding: 10px;
    color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}
.leaveTableList,
.leaveList,
.leaveList-type {
    width: 100%;
}
