.attendanceList-header {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.attendanceList-Area {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.attendanceList-name {
    color: #ffeb77;
    font-weight: bold;
    // margin: 0 20px 30px 20px;
    text-align: center;
    font-size: 25px;
}

.staffAttendanceStatusList-created_at,
.staffAttendanceStatusList-start_time,
.staffAttendanceStatusList-work_hour {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.26);
    border: 1px solid #dddddd;
    text-align: center;
}

.attendanceType-item {
    border: 1px solid #dddddd;
    font-weight: bold;
    padding: 8px;
    margin: 2px;
    color: white;
    text-align: center;
}
.submitAttendanceDateArea {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.attendanceStartArea,
.attendanceEndArea {
    display: flex;
    align-items: center;
}
.submitAttendanceDateArea {
    display: flex;
}
.attendanceStartAreaName,
.attendanceEndAreaName {
    font-weight: bold;
    margin: 8px;
}
@media (max-width: 500px) {
    .attendanceList-Area {
        padding: 30px;
    }
    .submitAttendanceDateArea {
        display: flex;
        flex-wrap: wrap;
    }
    .staffAttendanceStatusList-created_at,
    .staffAttendanceStatusList-start_time,
    .staffAttendanceStatusList-work_hour {
        font-size: 5px;
    }

    .attendanceType-item {
        font-size: 5px;
    }
    .staffAttendanceStatusList-content {
        padding: 30px;
    }
}
