.loginHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    color: black;
}

.logoImgLogo {
    font-weight: bold;
    font-size: 70px;

    svg {
        color: rgb(255, 235, 119);
        width: 65px;
        height: 65px;
    }
}

.loginListArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(248, 247, 247, 0.4);
    padding: 20px;
    transition: all 0.3s;
    border-style: solid;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.field {
    padding: 10px;
    font-size: 16px;
}
.LoginUsername,
.LoginPassword {
    margin: 5px;
    background-color: gray;
    border-radius: 5px;
    height: 50px;
}
.login {
    width: 248px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    transition: 1s;
    -webkit-transition: 1s;
    margin-top: 12px;
    background-image: linear-gradient(to right, silver, rgb(31, 31, 31));
    color: white;
    font-weight: bold;
}
.loginName {
    text-align: center;
    color: black;
    font-weight: bold;
}
.LoginSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 10px;
}
.forgetPasswordArea {
    display: flex;
    justify-content: flex-end;
}

.forgetPassword {
    color: rgb(94, 94, 201);
    background-color: rgba(0, 0, 0, 0);
    border-style: unset;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 500px) {
    .desktop {
        display: none;
    }
    .loginHeader {
        display: grid;
        flex-wrap: wrap;
    }
}
@media (min-width: 501px) {
    .mobile {
        display: none;
    }
}
