.getHeartBeat-Area {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);

    justify-content: space-evenly;
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.getHeartBeat-username,
.getHeartBeat-lastHeartBeat,
.getHeartBeat-since,
.getHeartBeat-lastClockIn {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.26);
    border: 1px solid #dddddd;
    text-align: center;
}
.getHeartBeat-name {
    color: #ffeb77;
    font-weight: bold;
    margin: 10px 20px;
    text-align: center;
    font-size: 25px;
}
.heartBeatType-item {
    border: 1px solid #dddddd;
    font-weight: bold;
    padding: 8px;
    margin: 2px;
    color: white;
    text-align: center;
}
@media (max-width: 500px) {
    .getHeartBeat-header {
        display: flex;
        flex-wrap: wrap;
    }
    .getHeartBeat-Area {
        padding: 30px;
    }
    .heartBeatType-item {
        font-size: 5px;
    }
    .getHeartBeat-username,
    .getHeartBeat-lastHeartBeat,
    .getHeartBeat-since,
    .getHeartBeat-lastClockIn {
        font-size: 5px;
    }
    .getHeartBeatList-content > .desktop {
        display: none;
    }
}

@media (min-width: 501px) {
    .getHeartBeatList-content > .mobile {
        display: none;
    }
}
