body {
    background-image: url('web_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     min-height: 100vh;
    // min-width: 100vw;
}
:root {
    background-color: #0b0837;
}



// .App-header {
//     min-height: 100vh;
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
//     // justify-content: center;
//     font-size: calc(10px + 2vmin);
//     color: white;
// }

// .changeButton {
//     margin: 10px;
// }
// .logoutButton {
//     background-color: gray;
//     color: lightgray;
//     font-weight: bold;
//     border-radius: 5px;
//     border-style: solid;
// }
// .logoutButton:hover {
//     background-color: rgb(68, 67, 67);
// }

// .header {
//     height: 60px;
//     background-color: rgb(34, 34, 34);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 5px 15px;
// }
// .changeButton {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .imgLogo {
//     font-weight: bold;
//     font-family: 'Times New Roman', Times, serif;
//     color: lightgray;
//     svg {
//         color: rgb(255, 235, 119);
//         width: 30px;
//         height: 30px;
//     }
// }
// .headerButton {
//     margin: 5px;
// }
