.employee-content {
    color: #313131;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(248, 247, 247, 0.4);
    border-color: rgba(117, 113, 113, 0.2);
    border-style: solid;
    border-width: 5px;
}

// .content-background {
//     background-color:#D0A3EE;
// }

.basic-item {
    color: #313131;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: rgba(117, 113, 113, 0.2);
    border-style: solid;
    border-width: 5px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(248, 247, 247, 0.4);
}

.summary-header {
    background-color: rgb(34, 34, 34);
    padding: 10px;
    color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}

.Fa-icon {
    padding-right: 20px;
}

.dataContainer {
    display: flex;
}

.userInfo {
    padding-left: 10px;
}

.tableList,
.salaryList,
.SalaryList-type {
    width: 100%;
}

.sum:hover {
    background: rgba(26, 26, 26, 0.084);
}

.head-col {
    display: flex;
}

.head-content {
    padding-left: 5px;
    color: rgb(49, 49, 119);
}
