
.homePageName {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    padding: 10px;
    color: black;
    font-size: 150%;
    text-align: center;
    margin-top: 50px;
}

.home_title {
    font-size: 200%;
}

h1 {
    margin: 0%;
}

.currentMonth {
    padding-left: 5px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}