.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.searchingBar{
    display: flex;
    padding: 1rem;
}
.searchingBar div{
margin: 0 1rem 0 1rem;
}

.searchingBar{
font-size: 85%;
}