

.content{
    display: grid;
    //background-color: black;
    font-size: 95%;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    width: 95%; 
}

@media (max-width: 700px) {
    .content { grid-template-columns: repeat(1, 0.5fr); }
  }

.content button{

    background-color: royalblue;
    color: seashell;
    font-size: 85%;
    width: 85%;

    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;

}
