.vacationList-content {
    text-align: center;
    align-items: center;
}
.vacationList-submitArea {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    // display: flex;
    // justify-content: space-evenly;
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.vacationList-name {
    color: #ffeb77;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
    font-size: 25px;
}
#startDate,
#endTime,
.vacationId-list {
    margin: 0 3px;
    height: 46px;
    background-color: grey;
    color: white;
    padding: 5px;
    font-weight: bold;

    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
}
.type-item {
    background-color: grey;
    color: white;
    font-weight: bold;
}

.apply-button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: grey;
}
.apply-button:hover {
    color: black;
    background: #ffeb77;
}
.startDateContent,
.endDateContent {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.endDateArea,
.startDateArea,
.TypeOfVacationArea {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.chooseArea {
    // display: flex;
    flex-wrap: flex;
}
.applyButtonArea {
    text-align: center;
}
@media (max-width: 500px) {
    .vacationList-submitArea {
        padding: 40px;
    }
}
