.detailBar{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0   10px 10px 0;
    border-style: solid;
    color: seashell;
   
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    
  

    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;

}

.barStaffName{
    border-style: solid;
    margin: 5px;
}
.barDepartment{
    border-style: solid;
    margin: 5px;
}
.barArriveTime{
    border-style: solid;
    margin: 5px;
}

.barLateTime{
    border-style: solid;
    margin: 5px;
}
.barLeaveType{
    border-style: solid;
    margin: 5px;
}



.detailList{
    display: grid;
    margin: 0 10px 10px 0;
    grid-template-columns: 33% 33% 33%;
    color: seashell;
    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    
  

    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;


    overflow-y: scroll;
    
   
}
.detailList div{
    border-style: solid;
    margin: 5px;
    
}

button{
    margin: 0 10px 10px 10px;
}

.AttendanceRecord{
display: grid;
grid-template-columns: 25% 75%;
}

.recordButton{
display: grid;
grid-template-rows: 33% 33% 33%;
margin: 0 10px 0 10px;
}

.recordButton button{
width: 90%;
color: seashell;
border-style: solid;
border-color: rgba(117, 113, 113, 0.2);
background: rgba(117, 113, 113, 0.3);



box-shadow: 0px -1px 22px #333333;
-webkit-box-shadow: 0px -1px 22px #333333;
-moz-box-shadow: 0px -1px 22px #333333;

}

.dateSelect{
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}

.date{
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 100%;
}

button{
    border-radius: 8px;
}
