.clockIn-change {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.otStatus-change,
.vacation-change,
.vacationStatus-change,
.attendance-change {
    height: 30px;
    width: 185px;
    color: black;
    margin: 20px 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.overRall-change {
    height: 30px;
    width: 100px;
    color: black;
    margin: 20px 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.ot-change {
    height: 30px;
    width: 119px;
    color: black;
    margin: 20px 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.ot-change:hover,
.otStatus-change:hover,
.vacation-change:hover,
.vacationStatus-change:hover,
.overRall-change:hover,
.attendance-change:hover {
    color: #ffeb77;
    text-decoration: unset;
    font-size: 18px;
}
.applyList-change {
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-line {
    color: black;
}
@media (max-width: 500px) {
    .clockInPage-content > .desktop {
        display: none;
        flex-wrap: wrap;
    }
    .clockIn-change {
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .otStatus-change,
    .vacation-change,
    .vacationStatus-change,
    .attendance-change {
        width: 120px;
        height: 80px;
        border-color: rgba(117, 113, 113, 0.2);
        background: rgba(117, 113, 113, 0.3);
        box-shadow: 0px -1px 22px #333333;
        -webkit-box-shadow: 0px -1px 22px #333333;
        -moz-box-shadow: 0px -1px 22px #333333;
    }
    .overRall-change {
        width: 120px;
        height: 80px;
        border-color: rgba(117, 113, 113, 0.2);
        background: rgba(117, 113, 113, 0.3);
        box-shadow: 0px -1px 22px #333333;
        -webkit-box-shadow: 0px -1px 22px #333333;
        -moz-box-shadow: 0px -1px 22px #333333;
    }
    .ot-change {
        width: 120px;
        height: 80px;
        border-color: rgba(117, 113, 113, 0.2);
        background: rgba(117, 113, 113, 0.3);
        box-shadow: 0px -1px 22px #333333;
        -webkit-box-shadow: 0px -1px 22px #333333;
        -moz-box-shadow: 0px -1px 22px #333333;
    }
}

@media (min-width: 501px) {
    .clockInPage-content > .mobile {
        display: none;
        padding: 30px;
        flex-wrap: wrap;
    }
}
