.dashboard-area {
    background-color: white;
    // width: 100vw;
    font-size: calc(10px + 2vmin);
    color: white;
}

.changeButton {
    margin: 10px;
}
.logoutButton {
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
}
.logoutButton:hover {
    background-color: #ffeb77;
    color: black;
}

.dashboard-header {
    height: 60px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.changeButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    font-weight: bold;
    color: lightgray;
    svg {
        color: rgb(255, 235, 119);
        width: 30px;
        height: 30px;
    }
}

.headerButton {
    margin: 5px;
}

.headerButton:hover {
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}

.username {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.icon {
    position: relative;
    display: inline-block;

    svg {
        color: grey;
        width: 30px;
        height: 30px;
    }
}

.icon .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* 定位 */
    position: absolute;
    z-index: 1;
}

.icon:hover .tooltiptext {
    visibility: visible;
    top: 50px;
    right: 0px;
    font-weight: bold;
    color: #ffeb77;
}

.staffArea {
    display: flex;
    justify-content: center;
    align-items: center;
}
.staffName {
    margin-right: 5px;
    font-weight: bold;
}
@media (max-width: 500px) {
    .desktop {
        display: none;
    }
    .staffArea {
        font-size: 13px;
    }
}
@media (min-width: 501px) {
    .mobile {
        display: none;
    }
}
