.staffInfoAdjustmentContainer{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    margin: 2%;
    width: 90%;
}

.staffInfoAdjustmentBar{
    border-style: solid;
    display: grid;
    grid-template-rows:  25% 25% 25% 25%;
    border-right: 5px;
    padding: 5px;
}

.staffInfoAdjustmentList{
    border-style: solid;
        display: grid;
        grid-template-rows:  25% 25% 25% 25%;
        border-right: 5px;
        padding: 5px;
}

.staffInfoAdjustmentList div{
    width: 85%;
}

.adjustmentColumn{ 
        border-style: solid;
        display: grid;
        grid-template-rows:  25% 25% 25% 25%;
        padding: 5px;
}

.authorityLevelAdjustment{
    display: flex;
}

.authorityLevelAdjustment button{
    width: 50%;
    height: 35px;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.authorityLevelAdjustment button p{   
    font-size: 80%;
    margin: 0;
}

.currentSalaryAdjustment{
    display: flex;
}

.currentSalaryAdjustment button{
    width: 50%;
    height: 35px;
    align-content: center;
    justify-content: center;
    margin: 0;
}
.currentSalaryAdjustment button p{   
    font-size: 80%;
    margin: 0;
}

.adjustmentColumn input{
    width: 35%;
    border-radius: 5px;
    margin-right: 12px;
}

