.staffList {
    text-align: center;
}
.staffList-top {
    display: flex;
    padding: 15px;
}
.staffId,
.staffName,
.phoneNumber {
    margin: 5px 20px;
}
.staffList-header {
    background: #501780;
    padding: 10px;
}
