.PersonalAttendanceRecord{
    border-style:solid;
    
}

.PersonalAttendanceRecordMenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}



.PersonalAttendanceRecordList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}

@media (max-width: 800px) {
    .PersonalAttendanceRecordList { 
        grid-template-columns: repeat(1, 0.5fr);
        color: blanchedalmond;
    }
  }