.staffInfoBlock{
display: grid;
grid-template-columns: 20% 80%;
}

.salarySummary{
    border-style: solid;
}

.salary{
    display: flex;
    
}

.allowanceLevel{
    display: flex;
}

.title{
    display: grid;
    grid-template-rows: 33% 33% 33%;
}


.title button{
    width: 90%;
    height:85%;
    margin:5%;
    color: seashell;
    font-size: 90%;

    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    
  

    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
}


.info{
    
    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    
  

    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
}