.staffVacationList-content {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.staffVacationList-Area {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.staffVacationList-name {
    color: #ffeb77;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.staffVacationList-created_at,
.staffVacationList-type,
.staffVacationList-start_time,
.staffVacationList-end_time,
.staffVacationList-status,
.staffVacationList-update {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.26);
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.vacationType-item {
    border: 1px solid #dddddd;
    font-weight: bold;
    padding: 8px;
    margin: 2px;
    color: white;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.submitVacationDateArea {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.vacationStartArea,
.vacationEndArea {
    display: flex;
    align-items: center;
}
.submitVacationDateArea {
    display: flex;
}
.vacationStartAreaName,
.vacationEndAreaName {
    font-weight: bold;
    margin: 8px;
}

@media (max-width: 500px) {
    .staffVacationList-Area {
        padding: 30px;
    }
    .submitVacationDateArea {
        display: flex;
        flex-wrap: wrap;
    }
    .staffVacationList-created_at,
    .staffVacationList-type,
    .staffVacationList-start_time,
    .staffVacationList-end_time,
    .staffVacationList-status,
    .staffVacationList-update {
        font-size: 5px;
    }
    .vacationType-item {
        font-size: 5px;
    }
    .staffVacationList-Area > .desktop {
        display: none;
    }
}

@media (min-width: 501px) {
    .staffVacationList-Area > .mobile {
        display: none;
    }
}
