.otList-content {
    text-align: center;
    align-items: center;
}
.otList-submitArea {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    // display: flex;
    // justify-content: space-evenly;
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.otList-name {
    color: #ffeb77;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
    font-size: 25px;
}
#otStartDate,
#otEndTime {
    margin: 0 3px;
    height: 46px;
    background-color: grey;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-style: unset;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
}
.otReason {
    margin: 0 3px;
    height: 46px;
    width: 262px;
    background-color: grey;
    color: white;
    padding: 5px;
    font-weight: bold;

    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
}

.applyOt-button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: grey;
}
.applyOt-button:hover {
    color: black;
    background: #ffeb77;
}
.otStartDateContent,
.otEndDateContent {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.otStartDateArea,
.otEndDateArea,
.applyOtReason {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.chooseOtListArea {
    // display: flex;
    flex-wrap: flex;
}
.applyOt-button {
    text-align: center;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    font-weight: bold;
}
@media (max-width: 500px) {
    .otList-submitArea {
        width: 350px;
    }
}
