.dropdown {
    justify-content: center;
    align-items: center;
}

.dropdown-menu.show {
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
}

.dropdown {
    background-color: rgb(54, 54, 54);
    color: lightgray;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropdown:hover {
    background-color: rgb(31, 31, 31);
    color: lightgray;
}

.dropdown-toggle {
    background-color: rgb(65, 65, 65);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    margin-bottom: 5px;
}

.periodContainer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    // display: flex;

}

.displayYear{
    padding-left: 5px;
}
.dropdown {
    border-radius: 10px;
    font-size: medium;
    padding: 5px;
    margin: 5px;
    
}