.staffOtStatusList-content {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.staffOtStatusList-Area {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    // display: grid;
    // justify-content: center;
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.staffOtStatusList-name {
    color: #ffeb77;
    font-weight: bold;

    text-align: center;
    font-size: 25px;
}

.staffOtStatusList-created_at,
.staffOtStatusList-start_time,
.staffOtStatusList-end_time,
.staffOtStatusList-status,
.staffOtStatusList-reason,
.staffOtStatusList-lastUpdate {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.26);
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.otType-item {
    font-weight: bold;
    margin: 2px;
    color: white;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.submitOtDateArea {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.otStartArea,
.otEndArea {
    display: flex;
    align-items: center;
}

.otStartAreaName,
.otEndAreaName {
    font-weight: bold;
    margin: 8px;
}
@media (max-width: 500px) {
    .staffOtStatusList-Area {
        padding: 30px;
    }
    .submitOtDateArea {
        display: flex;
        flex-wrap: wrap;
    }
    .staffOtStatusList-created_at,
    .staffOtStatusList-start_time,
    .staffOtStatusList-end_time,
    .staffOtStatusList-status,
    .staffOtStatusList-reason,
    .staffOtStatusList-lastUpdate {
        font-size: 5px;
    }

    .otType-item {
        font-size: 5px;
    }
    .staffOtStatusList-Area > .desktop {
        display: none;
    }
}

@media (min-width: 501px) {
    .staffOtStatusList-Area > .mobile {
        display: none;
    }
}
