.timing {
    color: black;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.top-time {
    margin: 0 20px;
}
.text-date,
.text-time {
    margin: 0 3px;
    text-align: center;
    color: #ffeb77;
}
.clockIn-content {
    border-style: solid;
    padding: 20px;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(117, 113, 113, 0.3);
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
    flex-wrap: wrap;
}
.clockButton {
    margin-left: 20px;
}
.clock-In,
.clock-Out {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: grey;
}
.clock-In:hover,
.clock-Out:hover {
    color: black;
    background: #ffeb77;
}

@media (max-width: 500px) {
    .clockIn-content {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }
}
