.newPasswordContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.newPasswordArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(248, 247, 247, 0.4);
    width: 500px;
    margin: 20px;
    padding: 20px;
    transition: all 0.3s;
    border-style: solid;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
}
@media (max-width: 500px) {
    .newPasswordArea {
        width: 250px;
        margin: 20px;
        padding: 20px;
    }
    .newPasswordContent {
        min-height: 100vh;
        max-width: 100vw;
    }
}

.field {
    padding: 10px;
    font-size: 16px;
}
.changePasswordStaffName,
.changePasswordPassword,
.changeNewPassword {
    margin: 5px;
    background-color: grey;
    border-radius: 5px;
    height: 50px;
}
.changePassword {
    width: 447px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    transition: 1s;
    -webkit-transition: 1s;
    margin-top: 12px;
    background-image: linear-gradient(to right, silver, rgb(31, 31, 31));
    color: white;
    font-weight: bold;
}

.newPassword {
    text-align: center;
    color: black;
    font-weight: bold;
}
.changePasswordSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 10px;
}
