// body {
//     color: black;
//     min-height: 100vh;
//     min-width: 100vh;
//     position: relative;
// }
.registerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // position: relative;
}

.registerPageArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(117, 113, 113, 0.2);
    background: rgba(248, 247, 247, 0.4);
    width: 500px;
    margin: 20px;
    padding: 20px;
    transition: all 0.3s;
    border-style: solid;
    box-shadow: 0px -1px 22px #333333;
    -webkit-box-shadow: 0px -1px 22px #333333;
    -moz-box-shadow: 0px -1px 22px #333333;
}
@media (max-width: 500px) {
    .registerPageArea {
        width: 250px;
        margin: 20px;
        padding: 20px;
    }
    .registerContent {
        min-height: 100vh;
        max-width: 100vw;
    }
}

.field {
    padding: 10px;
    font-size: 16px;
}
.registerStaffName,
.registerPassword,
.checkRegistrationPassword,
.staffSalary {
    margin: 5px;
    background-color: grey;
    border-radius: 5px;
    height: 50px;
}
.register {
    width: 447px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    transition: 1s;
    -webkit-transition: 1s;
    margin-top: 12px;
    background-image: linear-gradient(to right, silver, rgb(31, 31, 31));
    color: white;
    font-weight: bold;
}

.registerName {
    text-align: center;
    color: black;
    font-weight: bold;
}
.registerSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    margin: 10px;
}
.departmentId-list,
.authority-level {
    height: 50px;
    background-color: grey;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
}
